
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>principal</title>
    <link rel="stylesheet" href="adm.css">
    <link rel="shortcut icon" type="imagex/png" href="IMG TCC - OneDrive - Google Chrome 08_10_2023 17_06_44.png">

</head>

<body>

    <nav id="menu-h">
        <ul>
            <li>
                <a id="b">
                    <label for="burger" class="burger">
                        <input id="burger" type="checkbox">
                        <span></span>
                        <span></span>
                        <span></span>
                      </label>
                </a>
            </li>
            <li >
                <a href="index.html" class="m">
                    <img src="IMG TCC 111.png" alt="">
               </a>
            </li>       
        
             <li><div class="loader"><span>ADM</span>
                       <span>ADM</span>
             </div></li>

        </ul>
 

    </nav>




<div class="um">    
    <button class="b3"><a href="listaDEprodutos.html"> <span>Produtos existentes</span></a>
    </button>  
  

</div>


<div class="dois">

    <button class="b2"><a href="Cadastro-de-produtos.html"> <span>Produtos</span></a>
    </button>  
</div>


<div class="tres">
    <button class="b1"> <a href="usuarios.html"><span>Usuarios cadastrados</span></a>
    </button>  
</div>


</body>

</html>