<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>criar Conta</title>
    <link rel="stylesheet" href="criar.css">
    <link rel="shortcut icon" type="imagex/png" href="IMG TCC - OneDrive - Google Chrome 08_10_2023 17_06_44.png">

</head>
<body id="ce">

   
    <div class="wrapper">
        <div class="card-switch">
            <label class="switch">
               
               <div class="flip-card__inner">
                  <div class="flip-card__front">
                     <div class="title">Criar Conta</div>
                     <form action="login.html" class="flip-card__form">
                        <input type="email" placeholder="Email" name="email" class="flip-card__input">
                        <input type="password" placeholder="Senha" name="password" class="flip-card__input">
                        <input type="password" placeholder="Repita a Senha" name="password" class="flip-card__input">
                        <input type="submit" class="flip-card__btn" name="Entrar">
                     </form>
                     <a href="login.html">tem conta?</a>
                      
                  </div>
                
                
               </div>
            </label>
        </div>   
   </div>
</body>
</html>