
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>principal</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <nav id="menu-h">
        <ul>
            <li>
                <a id="b">
                    <label for="burger" class="burger">
                        <input id="burger" type="checkbox">
                        <span></span>
                        <span></span>
                        <span></span>
                      </label>
                </a>
            </li>
            <li >
                <a href="index.html" class="m">
                    <img src="IMG TCC 111.png" alt="">
               </a>
            </li>

            <li><a href="#" id="c-1"><img src="IMG TCC - 333.png" alt=""></a></li>
           <li><a href="#" id="c">Entrar</a></li>
          
            <li><a href="Carrinho.html" id="d-1"><img src="IMG TCC - 222.png" alt=""></a></li>
            <li><a href="Carrinho.html" id="d"> Carrinho</a></li>
        
            <li> 
                <a class="a"> 
                    <form class="form">
            <button>
                <svg width="17" height="16" fill="none" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="search">
                    <path d="M7.667 12.667A5.333 5.333 0 107.667 2a5.333 5.333 0 000 10.667zM14.334 14l-2.9-2.9" stroke="currentColor" stroke-width="1.333" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
            </button>
            <input class="input" placeholder="Pesquisar"  type="text">
            <button class="reset" type="reset">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </button>
        </form>
    </a>
    </li>
        </ul>
  
        <nav id="menu-l">
            <ul>
    
                <li><a href="lancamentos.html">Lançamentos</a></li>
                
                <li><a href="Suplemntos.html">Suplemntos</a></li>
                
                <li><a href="Rastreio.html">Rastreio</a></li>
                
                <li><a href="Fale-conosco.html">Fale conosco</a></li>
            </ul>
        </nav> 

    </nav>
 <a href="lancamentos.html" id="f">
  <img src="IMG TCC - 444.png">
 </a>

</body>

</html>