<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="login.css">
    <link rel="shortcut icon" type="imagex/png" href="IMG TCC - OneDrive - Google Chrome 08_10_2023 17_06_44.png">

</head>
<body id="ce">

   
    <div class="wrapper">
        <div class="card-switch">
            <label class="switch">
               <input class="toggle" type="checkbox">
               <span class="slider"></span>
               <span class="card-side"></span>
               <div class="flip-card__inner">
                  <div class="flip-card__front">
                     <div class="title">Log in</div>
                     <form action="princi.html" class="flip-card__form">
                        <input type="email" placeholder="Email" name="email" class="flip-card__input">
                        <input type="password" placeholder="Senha" name="password" class="flip-card__input">
                        <input type="submit" class="flip-card__btn" name="Entrar">
                     </form>
                     <a href="criarConta.html">nao tem conta?</a>
                      
                  </div>
                
                  <div class="flip-card__back">
                     <div class="title">adm</div>
                     <form action="adm.html" class="flip-card__form">
                        <input type="email" placeholder="Email" name="email" class="flip-card__input">
                        <input type="password" placeholder="Senha" name="password" class="flip-card__input">
                        <input type="submit" class="flip-card__btn" name="Entrar">
                     </form>
                  </div>
               </div>
            </label>
        </div>   
   </div>
</body>
</html>